---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import CaraKerja from '../components/CaraKerja.astro';
import Fitur from '../components/Fitur.astro';
import Keamanan from '../components/Keamanan.astro';
import FAQ from '../components/FAQ.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <CaraKerja />
    <Fitur />
    <Keamanan />
    <FAQ />
    <CTA />
  </main>
  <Footer />
</Layout>
