---
import HeroLeft from './HeroLeft.astro';
import HeroRight from './HeroRight.astro';
---

<section class="flex flex-col lg:flex-row items-center pt-10 px-6 lg:px-20 pb-12 gap-10">
  <HeroLeft />
  <HeroRight />
</section>
